# {1,2,3,4,...,24} kümesinden herhangi 13 eleman seçildiğinde bu seçilen elemanların içinde toplamı 25 olan en az 1 tane sayı ikilisinin bulunduğunu ispatlayınız.

In [2]:
import random
lst=[]
for i in range(1,25):
    lst.append(i)
print(lst)

liste=[]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [3]:
for i in range(0,13):           
    for k in range(0,13):
        a=random.choice(lst)
        if(a  not in liste):
            liste.append(a)
            break
        else:
            continue           
print("secilen sayilar = %s"% liste)

secilen sayilar = [1, 23, 24, 5, 18, 4, 14, 3, 12, 11, 19, 13, 9]

In [4]:
for i in range(0,13):          
    for x in range(0,13):
        if(liste[i]+liste[x]==25):
            print("%s + % s = 25 " %(liste[i],liste[x]))

1 + 24 = 25
24 + 1 = 25
14 + 11 = 25
12 + 13 = 25
11 + 14 = 25
13 + 12 = 25